.carouselPoster {
    margin-top: 6rem;
    width: 100%;
    padding: 0 1.2rem;
}

.posterImage {
    height: 30rem;

    img {
        height: fit-content;
        background: whitesmoke;
    }
}

@media (max-width: 600px) {
    .posterImage {
        height: fit-content;
    }
}