header {
    background: #fff;
    box-shadow: 1px 1px 5px 1px silver;
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;

    .logo {
        margin-left: 2.3rem;
        color: rgb(56, 56, 56);

        h1 {
            font-size: 3.4rem;
            margin-bottom: -.5rem;
        }

        p {
            font-size: 1.2rem;
        }
    }

    .searchBar {
        // position: absolute;
        top: .2rem;
        right: 1rem;

        input {
            width: 20rem;
            position: absolute;
            top: 1rem;
            padding: 1rem;
            right: 1rem;
            border: 1px solid silver;
            outline: none;
        }

        button {
            position: absolute;
            right: 15px;
            top: 15px;
            font-size: 2.5rem;
            background: none;
            border: none;
            font-weight: lighter;
        }
    }

    .hamBurger {
        display: none;
        position: absolute;
        right: 1.5rem;
        cursor: pointer;
    }
}

@media (max-width: 600px) {
    header {
        .searchBar {
            display: none;
        }

        .hamBurger {
            display: block;
        }

        .responsive {
            background: #f4f4f4;
            position: fixed;
            width: 80%;
            height: 100%;
            top: 6rem;
            right: 0;
            border: 1px solid silver;
            z-index: 999;
            transition: .2s ease;

            .searchBar {
                display: block;

                input {
                    width: 70%;
                }
            }

        }

    }
}